# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
build/
tmp/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule files
celerybeat-schedule
celerybeat.pid

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Data and log files
data/
logs/
*.wav
*.csv
*.tsv
*.xls
*.xlsx
*.hdf5
*.pkl
*.pickle
*.npz
*.npy
*.log
*.out

# Model weights/checkpoints
*.ckpt
*.pth
*.pt
*.h5
checkpoints/

# Reconstructed audios
reconstruction/
